html{
    background-color: rgb(192, 182, 127);
}

div{
    background-color: rgb(192, 182, 127);
}

#row{
    margin-right: 25px;
}

table, tr, td{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}   

th, td {
    width: 50px;
    font-size: 25px;
    border: 1px solid black;
}

td{
    color: black;
}

h1{
    background-color: rgb(192, 182, 127);
}

head{
    background-color: rgb(192, 182, 127);
}

.container{
    background-color: rgb(192, 182, 127);
}

#minColumn, #maxColumn, #minRow, #maxRow{
    width: 75%;
    
}

#minColumnSlider, #maxColumnSlider, #minRowSlider, #maxRowSlider{
    margin: 10px;   
}